@model IEnumerable<CasaRural.Models.Llogater>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomCognoms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomCognoms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NIF }) |
            @Html.ActionLink("Details", "Details", new { id=item.NIF }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NIF })
        </td>
    </tr>
}

</table>
